public/my_work/pocket_hikayat/01_Khuda[[:space:]]par[[:space:]]Yakeen.mp4 filter=lfs diff=lfs merge=lfs -text
public/my_work/Architectural[[:space:]]Visualization/Residential[[:space:]]plots.mp4 filter=lfs diff=lfs merge=lfs -text
public/my_work/logo/all_sample.mp4 filter=lfs diff=lfs merge=lfs -text
public/my_work/STYLE/high_beach_.mp4 filter=lfs diff=lfs merge=lfs -text
public/my_work/CINEMATIC/waterfall_render.mp4 filter=lfs diff=lfs merge=lfs -text
