# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
# Ignore large files in my_work
public/my_work/**/*.zip
public/my_work/**/*.mov
public/my_work/pocket_hikayat/02_Machhi Ni Laalach.mp4
public/my_work/pocket_hikayat/03_Hushyar kabutar.mp4
public/my_work/pocket_hikayat/04_Logo su sochse.mp4
public/my_work/pocket_hikayat/05_Dunya No Masal.mp4
public/my_work/pocket_hikayat/06_Gussa par kabu.mp4
public/my_work/sadhu_fight/fight.mp4
public/my_work/sadhu_fight/menimal_fight.mp4
public/my_work/STYLE/heaven.mp4
public/my_work/Architectural Visualization/shayona_backup01.mp4
public/my_work/CINEMATIC/Jivanji.mp4

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
